.container
  -# TODO: breadcrumb navigation to scroll back and forth
  %h1="Weekly results"
  %p.text-right#unhide
    %a{href: '#'} Edit your results
  .alert.alert-dismissible.alert-info
    %button{type: 'button', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close '}
      %span{'aria-hidden': true} &times;
    %i.fa.fa-info-circle
    Please click the
    %i.fa.fa-beer
    icon if you had a drink, or the
    %i.fa.fa-heart
    icon if you didn't.
  .table.table-hover
    %table.table.table-hover
      %thead
        %tr
          %th{scope: :col} User
          %th.centered{scope: :col} M
          %th.centered{scope: :col} T
          %th.centered{scope: :col} W
          %th.centered{scope: :col} T
          %th.centered{scope: :col} F
          %th.centered{scope: :col} S
          %th.centered{scope: :col} S
          %th.numeric{scope: :col} Dry Days
          %th.numeric{scope: :col} Score
      %tbody
        -# TODO: Move this to the controller
        -@all_users.each do |user|
          -user_results = user.weekly_results.find_by week_id: @week.id
          %tr
            %th{scope: :row}
              %a{href: "/users/#{user.id}"}
                =user.name
            -Date::DAYNAMES.rotate(1).map{|x| x.downcase}.each do |day|
              %td.centered
                -if this = user_results.send("#{day}_drinks")
                  -if this > 0
                    %i.fa.fa-beer.text-danger
                  -else
                    %i.fa.fa-heart.text-success
                -elsif user != @user
                  No data
                -else
                  %a{href: "/results/#{@runweek}?day=#{day}&drink=yes"}
                    %i.fa.fa-beer
                  |
                  %a{href: "/results/#{@runweek}?day=#{day}&drink=no"}
                    %i.fa.fa-heart
            %td.numeric=user_results.dry_days.to_i
            %td.numeric=user_results.score.to_i
        %tr#edit.hidden
          %th{scope: :row}=@user.name rescue "Please log in!"
          -Date::DAYNAMES.rotate(1).map{|x| x.downcase}.each do |day|
            %td.centered
              %a{href: "/results/#{@runweek}?day=#{day}&drink=yes"}
                %i.fa.fa-beer
              |
              %a{href: "/results/#{@runweek}?day=#{day}&drink=no"}
                %i.fa.fa-heart
          %td.centered
          %td.centered



  %nav.navbar.navbar-default{fole: 'pagination'}
    %ul.breadcrumb
      %li
        %a{href: "/week?date=#{(@rundate - 7).strftime('%G%V')}"}
          %i.fa.fa-angle-double-left
      %li
        %span=@rundate
      %li
        %a{href: "/week?date=#{(@rundate + 7).strftime('%G%V')}"}
          %i.fa.fa-angle-double-right

:coffee
  $("#unhide").click ()->
    $("#edit").toggleClass('hidden')
