%h1
  %img.profile{ src: @current_user.image }
  =@current_user.name
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.fa.fa-fw.fa-user
          %span.text User Profile
      .table-responsive
        .table.table-hover
          %table.table.table-hover
            %tbody
              %tr
                %th{ scope: :row } Display Name
                %td=@current_user.first_name
              %tr
                %th{ scope: :row } Email
                %td=@current_user.email
              %tr
                %th{ scope: :row } Subscribed?
                %td
                  =@current_user.unsubscribed ? 'No' : 'Yes'
                  %a{href: '/users/toggle-subscription'} (toggle)

  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %i.fa.fa-fw.fa-beer

          %span.text
            Results:
            %a{ href: "?date=#{@rundate << 1}" } «
            =@rundate.strftime('%B %Y')
            %a{ href: "?date=#{@rundate >> 1}" } »
      .table-responsive
        .table.table-hover
          %table.table.table-hover.tablesorter
            %thead
              %tr
                %th{ scope: :col } Dates
                %th.centered{ scope: :col } M
                %th.centered{ scope: :col } T
                %th.centered{ scope: :col } W
                %th.centered{ scope: :col } T
                %th.centered{ scope: :col } F
                %th.centered{ scope: :col } S
                %th.centered{ scope: :col } S
                %th.numeric{ scope: :col } Dry Days
                %th.numeric{ scope: :col } Score
            %tbody
              -@current_user.month_result_by_week(@rundate).each_slice(7) do |week|
                %tr
                  %td
                    =week.reduce(31) { |min, w| w[:mday].nil? ? min : [w[:mday], min].min }
                    to
                    =week.reduce(1) { |max, w| w[:mday].nil? ? max : [w[:mday], max].max }
                  -week.each do |day|
                    %td.centered
                      -case day[:result]
                      -when '2'
                        %i.fa.fa-beer.text-danger
                      -when '1'
                        %i.fa.fa-heart.text-success
                      -when '0'
                        -# @TODO javascript
                        %a{ href: "#{@user.id}/result?date=#{@rundate.strftime('%Y-%m')}-#{day[:mday]}&result=beer" }
                          %i.fa.fa-beer
                        |
                        %a{ href: "#{@user.id}/result?date=#{@rundate.strftime('%Y-%m')}-#{day[:mday]}&result=dry" }
                          %i.fa.fa-heart
                  %td.numeric=week.count('1')
                  %td.numeric=Score.calculate_for_week_from_hash(week)
